<nav>
    <% if (user) { %>
        <h1><a href="/">NO HASH</a></h1>
        <a href="/">Home</a>
        <a href="/user/profile">Profile</a>
        <a href="/auth/logout">Logout</a>
        <a href="/user/contact">contact us</a>
        <% if (user.role === 'ADMIN') { %>
            <a href="/admin/dashboard">Admin Dashboard</a>
        <% } %>

        <% } else { %>
            <h1><a href="/">NO HASH</a></h1>
            <a href="/">Home</a>
            <a href="/auth/register">Register</a>
            <a href="/auth/login">Login</a>
            
        <% } %>
    
</nav>
  