<html lang="en">
<%- include('partials/header')%>
<body>
  <%- include('partials/nav')%>
<header>
  <div class="smoothie">
    <img src="/error.jpg" alt="">
  </div>
  <div class="headings">
    <h2>404 page</h2>
    <h3>This page does not exist</h3>
  </div>
</header>


<%- include('partials/footer')%>
</body>
</html>