<!DOCTYPE html>
<html>
    <%- include('./partials/admin_head')%>
<body id="admin_body">
    <%- include('./partials/admin_nav')%>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2>Welcome, Admin: <%= user.email %> </h2>

<%- include('./partials/footer')%>
</div>
</body>

</html>
