<html lang="en">
<%- include('partials/header')%>
<body>
  <%- include('partials/nav')%>
  <div class="flash_msgs">
    <%- include('partials/flash_messages')%>
  </div>
    <h1>HOME</h1>


<%- include('partials/footer')%>
</body>
</html>